.about_title {
    
      margin-bottom: 1.2rem;
    }
  
 .about__text {
      font-size: 1.08rem;
      margin-bottom: 1.5rem;
      color: rgb(10, 10, 10);
  
    }
  
    .about__icons {
      font-size: 1.01rem;
      color: rgb(124, 124, 124);
   margin:2%;
   gap:2px
    }
  
    .about__image {
      width: 95%;
      display: block;
      margin: 0 auto;
      height: 55vh;
      margin-bottom: 2%;
    }
  