.Container {
    display: flex;
}

.left{
display: flex;
flex:1;
flex-direction: column;
padding: 20px;
}

.center{
    flex: 1;
    padding: 20px;
}

.right{
    flex:1;
    padding: 20px;
}
.desc{
    margin: 20px 0px;
}
.socialContainer{
    display: flex;
}
.socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-right: 20px;

}
.Title{
    margin-bottom: 30px;
}
ul{
    margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
li {
    width: 50%;
    margin-bottom: 10px;
}
.contactItem{
    margin-bottom: 20px;
  display: flex;
  align-items: center;
}