.stock-Paper{
   margin: 0 10px 10px 0;
   box-shadow: 8px 8px rgb(221, 226, 228);
   
}
.stock-head{
   background-color: rgb(198, 216, 231);
   

}
.stock-row{
   font-size: 20%;
   font-weight: bolder;
   font-family: sans-serif;
}
.stock-cell{
   font-weight: bolder;
}